<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wanbang.manager.mapper.db2.DriverAuditLogMapper">

    <resultMap id="BaseResultMap" type="com.wanbang.manager.common.DriverAuditLog">
            <id property="id" column="id" />
            <result property="driverId" column="driver_id" />
            <result property="auditStatus" column="audit_status" />
            <result property="auditRemark" column="audit_remark" />
            <result property="auditor" column="auditor" />
            <result property="createTime" column="create_time" />
            <result property="updateTime" column="update_time" />
    </resultMap>

    <sql id="Base_Column_List">
        id,driver_id,audit_status,audit_remark,auditor,create_time,
        update_time
    </sql>
</mapper>
